* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 35px;
  width: 150px;
  padding-right: 3rem;
}
li {
  list-style: none;
  text-align: center;
}
.col {
  background-color: gray;
  border: 2px solid black;
}
h1 {
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  color: white;
}
p {
  text-align: center;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: white;
}
/* Home */
.hero {
  background: linear-gradient(rgba(0, 8, 8, 0.832), rgba(8, 24, 22, 0.801)),
    url("./img/pexels-edward-jenner-4033143.jpg");
  min-height: 90vh;
  background-size: cover;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}
.hero-introduction p {
  padding: 5rem 10rem;
  color: rgb(231, 231, 231);
}
.hero-introduction h2 {
  padding-top: 3rem;
}
button {
  text-transform: uppercase;
  font-weight: 700;
  max-width: 500px;
  border-radius: 20px;
}
button:hover {
  color: white;
}
a:hover {
  color: white;
}
.btn-primary {
  text-transform: uppercase;
  font-weight: 700;
  max-width: 500px;
  border-radius: 20px;
}
.icon {
  color: white;
}

/* About */
.about {
  min-height: 100vh;
}

/* Footer */
footer {
  color: #fff;
  background: rgba(0, 100, 146, 0.603);
  font-size: 1.5rem;
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 52em) {
  footer {
    text-align: center;
  }
  .form-wrapper {
    width: 100%;
  }
  footer h5 {
    padding: 3rem;
  }
}
